---
title: Fredagen då maten var god och solen log
date: "2023-01-27"
---

Idag gjorde jag omprovet vilket gjorde att jag inte han göra något på min hemsida. Men förra lektionen blev jag klar ed min hemsida och jag är mycket nöjd med mitt arbete. Det finns inget mer jag hade velat sätta till min hemsida utan bara typ saker som hade vart roliga att testa. Men som sagt tycker jag den blev jättebra.